@import 'vars.scss';
@import '~flamework/src/vars';

.card {
  border: 1pt solid $white3;
  border-radius: $radius;
}

.ListItem {
  width: 100%;
  max-width: 33%;

  @media screen and (max-width: $tablet-breakpoint) {
    max-width: 50%;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    max-width: none;
  }

  address {
    font-style: normal;
    color: $black3;
    font-size: .8em;

    .pin-icon {
      margin-right: .5em;
    }
  }

  .add-wishlist {
    color: transparent;
    cursor: pointer;

    path {
      stroke: #e11b77;
      stroke-width: 2em;
    }

    &:hover {
      color: #e11b77;
    }
  }
}
