/*
  Enjoying my CSS, and layouting?
  its all thanks to Flamework, another project of mine
  really useful to use flexboxes.
*/
@import 'vars';
@import '~flamework';

.card {
  border: 1pt solid $white3;
  border-radius: $radius;
  background-color: #fefefe;
}

.purple { color: $color; }
