$color: #7529B2;

$mobile-breakpoint:   768px;
$desktop-breakpoint:  992px;
$tablet-breakpoint:  992px;

$white: lighten($color, 35%);

$base-font: "Muli", "Segoe UI", "Open Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
